electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=http://npmmirror.com/mirrors/phantomjs
node_mirror=https://npmmirror.com/mirrors/node/
npm_mirror=https://npmmirror.com/mirrors/npm/
